@import 'node_modules/modern-normalize/modern-normalize.css';


html {
    height: 100%;
    background-attachment: fixed;
    background: linear-gradient(45deg, #212036, #7874c4);
}

.icon-size {
    width: 100px;
}
